@import '@/styles/variables.css';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 800;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  width: 100%;
  max-width: 450px;
  margin-top: 24px;
}

.primary {
  background: var(--primary-color);
  color: var(--text-color);
}

.primary:hover {
  background: var(--primary-hover-color);
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.disabled:hover {
  background: var(--primary-color);
}
