@import '@/styles/variables.css';

.block {
  background-color: var(--violet-color);
  margin-bottom: 12px;
  color: var(--text-color);
  font-weight: 600;
  border-radius: 16px;
  cursor: pointer;
  max-width: 450px;
  width: 100%;
}

.label {
  display: block;
  cursor: pointer;
  padding: 18px 20px;
}

.labelWithCheckbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topicCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  background: var(--violet-color);
  border-radius: 50%;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  user-select: none;
}

.topicCard:active {
  transform: scale(0.9);
  animation: clickEffect ease-in-out;
}

.selected {
  border: 2px solid var(--light-pink);
}

.emoji {
  font-size: 24px;
}

.name {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30% {
    transform: scale(1.1) rotate(2deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.95) rotate(-2deg);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate {
  animation:
    clickEffect 0.3s ease-out,
    shake 0.3s ease-in-out;
}
