:root {
  --primary-color: #e4229c;
  --primary-hover-color: #c72b7a;
  --dark-violet: #6d4376;
  --text-color: white;
  --red-color: #ef4444;
  --grey-color: #e8eaf2;
  --grey-light-color: #f2f3f5;
  --violet-color: #36173d;
  --light-pink: #e4229b;
}
